@CHARSET "UTF-8";
* {
	margin:0;
	padding:0;
}
body{
	font-size:12px;
	background:white;
}
li{
	list-style-type:none
}
#left{

	width:200px;
	height:auto;	
}
#left li{
	width:200px;
	height:auto;
	line-height:40px;
	background:url(../images/leftli.gif) no-repeat  center;
	text-align:center;
	margin-bottom:1px;
}
#left li a{
	display:block;		
	color:black;
	text-decoration:none;
	background:url(../images/leftli.gif) no-repeat  center;
}
#left li a:hover{
	font-weight:bold;	
}
#left li ul{
	width:200px;
	height:auto;
	background:white;	
}
#left li ul li.leftin a{
	display:block;
	width:200px;
	height:auto;
	line-height:40px;	
	background:url(../images/leftli1.gif) no-repeat  center;
}	
div{
	height:5px;
	}
